name: Publish to GitHub Packages

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"     # e.g. v1.0.0

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build DBMigrator.Aspire.Hosting/DBMigrator.Aspire.Hosting.csproj --configuration Release --no-restore

      - name: Pack NuGet package
        run: >
          dotnet pack
          DBMigrator.Aspire.Hosting/DBMigrator.Aspire.Hosting.csproj
          --configuration Release
          --no-build
          --output ./nupkgs


      - name: Publish to GitHub Packages
        run: dotnet nuget push "./nupkgs/*.nupkg" \
              --api-key ${{ secrets.GITHUB_TOKEN }} \
              --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" \
              --skip-duplicate
